@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text&display=swap");
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
}

a {
  text-decoration: none;
  color: #2302b9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  color: #2302b9;
  font-family: "DM Serif Display";
  line-height: 1.3em;
}

h1 {
  font-size: 2.2rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
}
@media (min-width: 48rem) {
  p {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  p {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  p {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  p {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  p {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  p {
    max-width: 48rem;
  }
}

.headerTitle {
  padding-right: 2em;
  font-size: 1.7em;
}

.headerMenu {
  display: flex;
  flex-wrap: nowrap;
}

.headerMenuLink {
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

@media (max-width: 48rem) {
  .headerName {
    display: none;
  }
}
.icon {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.8rem;
  filter: invert(14%) sepia(78%) saturate(5758%) hue-rotate(253deg) brightness(68%) contrast(129%);
}

.project {
  padding: 3em 0;
}

.projectTitle {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
}
@media (min-width: 48rem) {
  .projectTitle {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .projectTitle {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .projectTitle {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .projectTitle {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .projectTitle {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .projectTitle {
    max-width: 48rem;
  }
}

.projectDescription {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
}
@media (min-width: 48rem) {
  .projectDescription {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .projectDescription {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .projectDescription {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .projectDescription {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .projectDescription {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .projectDescription {
    max-width: 48rem;
  }
}

.figure {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (min-width: 48rem) {
  .figure {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .figure {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .figure {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .figure {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .figure {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .figure {
    max-width: 48rem;
  }
}

.figure img {
  width: 100%;
}

.figureCaption {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

.figureLeft {
  margin-left: 10vw;
  max-width: 35vw;
  float: left;
  margin-right: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .figureLeft {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .figureLeft {
    margin-left: auto;
  }
}
@media (max-width: 18em) {
  .figureLeft {
    max-width: 65vw;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 32rem) {
  .figureLeft {
    max-width: 16em;
  }
}
@media (min-width: 60rem) {
  .figureLeft {
    margin-left: calc((100vw - 48rem) / 2);
  }
}

.figureRight {
  margin-right: 10vw;
  max-width: 35vw;
  float: right;
  margin-left: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .figureRight {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .figureRight {
    margin-right: auto;
  }
}
@media (max-width: 18em) {
  .figureRight {
    max-width: 65vw;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 32rem) {
  .figureRight {
    max-width: 16em;
  }
}
@media (min-width: 60rem) {
  .figureRight {
    margin-right: calc((100vw - 48rem) / 2);
  }
}

.projectList {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
}
@media (min-width: 48rem) {
  .projectList {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .projectList {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .projectList {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .projectList {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .projectList {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .projectList {
    max-width: 48rem;
  }
}

.flowDiagram {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 48rem) {
  .flowDiagram {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .flowDiagram {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .flowDiagram {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .flowDiagram {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .flowDiagram {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .flowDiagram {
    max-width: 48rem;
  }
}
@media (min-width: 48rem) {
  .flowDiagram {
    flex-direction: row;
    align-items: center;
  }
}
.flowDiagram span {
  transform: rotate(90deg);
}
@media (min-width: 48rem) {
  .flowDiagram span {
    transform: none;
  }
}

.flowDiagramItem {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
.flowDiagramItem:first-child {
  margin-left: 0;
}
.flowDiagramItem:last-child {
  margin-right: 0;
}

.backLink {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #444444;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
}
@media (min-width: 48rem) {
  .backLink {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  .backLink {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .backLink {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  .backLink {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  .backLink {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  .backLink {
    max-width: 48rem;
  }
}

iframe.clock {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
  width: 80vw;
  display: none;
}
@media (min-width: 48rem) {
  iframe.clock {
    margin-left: 15vw;
  }
}
@media (min-width: 60rem) {
  iframe.clock {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  iframe.clock {
    margin-right: 20vw;
  }
}
@media (min-width: 60rem) {
  iframe.clock {
    margin-right: auto;
  }
}
@media (min-width: 48rem) {
  iframe.clock {
    max-width: 70vw;
  }
}
@media (min-width: 60rem) {
  iframe.clock {
    max-width: 48rem;
  }
}
@media (min-width: 48rem) {
  iframe.clock.large {
    display: block;
    height: 19em;
    margin-top: 3em;
  }
}
@media (min-width: 32rem) and (max-width: 48rem) {
  iframe.clock.medium {
    display: block;
    height: 10em;
  }
}
@media (max-width: 32rem) {
  iframe.clock.small {
    display: block;
    height: 9em;
    min-width: 235px;
  }
}

/*# sourceMappingURL=projects.css.map */
