@import "main.scss";

.bio {
  margin-top: 4em;
  margin-bottom: 4em;
}

.bioTitle {
  @include marginalized;
}

.bioText {
  @include marginalized;
}

.portfolio {
  padding-bottom: 10rem;
}

.portfolioThumb {
  display: inline-block;
  width: 40vw;
  height: 20vw;
  box-shadow: inset 0 0 20px 10px $shadow-color;
  background-color: #eee;
  border-radius: 10vw;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  &:nth-child(odd) {
    margin-left: 10vw;
  }
  &:nth-child(even) {
    margin-top: 13vw;
    margin-bottom: -11vw;
  }
}

.portfolioThumbSwivel {
  background-image: url("../images/portfolioThumb-swivel.jpg");
}

.portfolioThumbEverythingNewIsOld {
  background-image: url("../images/portfolioThumb-everythingNewIsOld.jpg");
}

.portfolioThumbFlipClock {
  background-image: url("../images/portfolioThumb-flipClock.png");
}
