@import "main.scss";

.project {
  padding: 3em 0;
}

.projectTitle {
  @include marginalized;
}

.projectDescription {
  @include marginalized;
}

.figure {
  @include marginalized;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.figure img {
  width: 100%;
}

.figureCaption {
  @include type;
  font-size: 0.7rem;
  font-style: italic;
}

.imageLeft {
  max-width: 40%;
  float: left;
  margin-right: 1em;
}

.imageRight {
  max-width: 40%;
  float: right;
  margin-left: 1em;
}

.projectList {
  @include type;
  @include marginalized;
}

iframe.clock {
  @include marginalized;
  width: 80vw;
  display: none;

  @media (min-width: $large) {
    &.large {
      display: block;
      height: 19em;
      margin-top: 3em;
    }
  }
  @media (min-width: $medium) and (max-width: $large) {
    &.medium {
      display: block;
      height: 10em;
    }
  }
  @media (max-width: $medium) {
    &.small {
      display: block;
      height: 9em;
      min-width: 235px;
    }
  }
}
