@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text&display=swap');

$yuge: 60rem;
$large: 48rem;
$medium: 32rem;
$small: 18em;

$background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.07);
$accent-color: #2302b9;
$text-color: #444444;
$reversed-text-color: $background-color;
$svg-filter: invert(14%) sepia(78%) saturate(5758%) hue-rotate(253deg) brightness(68%) contrast(129%);

@mixin marginalized {
  @include left-margin;
  @include right-margin;
  max-width: 80vw;
  @media (min-width: $large) {
    max-width: 70vw;
  }
  @media (min-width: $yuge) {
    max-width: 48rem;
  }
}

@mixin left-margin {
  margin-left: 10vw;
  @media (min-width: $large) {
    margin-left: 15vw;
  }
  @media (min-width: $yuge) {
    margin-left: auto;
  }
}

@mixin right-margin {
  margin-right: 10vw;
  @media (min-width: $large) {
    margin-right: 20vw;
  }
  @media (min-width: $yuge) {
    margin-right: auto;
  }
}

@mixin type {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: $text-color;
}

body,
html {
  background-color: $background-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: -webkit-sticky; // polyfill
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: $background-color;
  box-shadow: 0 5px 10px $shadow-color;
}

a {
  text-decoration: none;
  color: $accent-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include type;
  color: $accent-color;
  font-family: "DM Serif Display";
  line-height: 1.3em;
}

h1 {
  font-size: 2.2rem;
}

p {
  @include type;
  @include marginalized;
}

.headerTitle {
  padding-right: 2em;
  font-size: 1.7em;
}

.headerMenu {
  display: flex;
  flex-wrap: nowrap;
}

.headerMenuLink {
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

@media (max-width: $large) {
  .headerName {
    display: none;
  }
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.8rem 0.6rem;
  filter: $svg-filter;
}

.button {
  @include type;
  padding: .5em 1.5em .65em;
  display: inline-block;
  background-color: $accent-color;
  color: $background-color;
  border-radius: 3px;
}
