@import "main.scss";

.project {
  padding: 3em 0;
}

.projectTitle {
  @include marginalized;
}

.projectDescription {
  @include marginalized;
}

.figure {
  @include marginalized;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.figure img {
  width: 100%;
}

.figureCaption {
  @include type;
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

.figureLeft {
  @include left-margin;
  max-width: 30vw;
  float: left;
  margin-right: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
  @media (min-width: $medium) {
    max-width: 16em;
  }
  @media (min-width: $yuge) {
    margin-left: calc((100vw - 48rem) / 2);
  }
}

.figureRight {
  @include right-margin;
  max-width: 15em;
  float: right;
  margin-left: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
  @media (min-width: $medium) {
    max-width: 16em;
  }
  @media (min-width: $yuge) {
    margin-right: calc((100vw - 48rem) / 2);
  }
}

.projectList {
  @include type;
  @include marginalized;
}

.flowDiagram {
  @include type;
  @include marginalized;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0 1em;
  border-bottom: 1px solid $shadow-color;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $large) {
    flex-direction: row;
    align-items: center;
  }

  & span {
    transform: rotate(90deg);
    @media (min-width: $large) {
      transform: none;
    }
  }
}

.flowDiagramItem {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid $shadow-color;
  box-shadow: 0 4px 10px $shadow-color;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

iframe.clock {
  @include marginalized;
  width: 80vw;
  display: none;

  @media (min-width: $large) {
    &.large {
      display: block;
      height: 19em;
      margin-top: 3em;
    }
  }
  @media (min-width: $medium) and (max-width: $large) {
    &.medium {
      display: block;
      height: 10em;
    }
  }
  @media (max-width: $medium) {
    &.small {
      display: block;
      height: 9em;
      min-width: 235px;
    }
  }
}
